{% extends "base.html" %}

{% block contenido %}
    <section class="py-5">
        <div class="text-center mb-5">
            <h1 class="fw-bolder">Póliticas de seguridad</h1>
        </div>
        <div class="container px-5">
            <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
                <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
                    <h2>1. Introducción</h2>
                    <p>Estos términos y condiciones se rigen por el uso del sitio web y los servicios ofrecidos por Softwre-Play. 
                        Al acceder o utilizar el sitio web y nuestros servicios, aceptas estos términos y condiciones en su totalidad.</p>

                    <h2>2. Uso del Sitio Web</h2>
                    <p>...</p>
                </div>
            </div>
        </div> 
    </section>
{% endblock contenido %}