asgiref==3.7.2
autopep8==2.0.4
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==41.0.7
Django==4.2.7
idna==3.6
paypalrestsdk==1.13.3
pycodestyle==2.11.1
pycparser==2.21
pyOpenSSL==23.3.0
requests==2.31.0
six==1.16.0
sqlparse==0.4.4
stripe==4.2.0
tomli==2.0.1
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.1.0
