{% extends "base.html" %}

{% block contenido %}
    <!-- Page Content-->
    <section class="py-5">
        <div class="container px-5 my-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-6">
                    <div class="text-center mb-5">
                        <h1 class="fw-bolder">Producto 1</h1>
                        <p class="lead fw-normal text-muted mb-0">Software para la venta de articulos
                            Ideal para tu negocio. 
                            Crecimiento en tus ventas.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row gx-5">
                <div class="col-12"><img class="img-fluid rounded-3 mb-5" src="https://dummyimage.com/1300x700/343a40/6c757d" alt="..." /></div>
                <div class="col-lg-6"><img class="img-fluid rounded-3 mb-5" src="https://dummyimage.com/600x400/343a40/6c757d" alt="..." /></div>
                <div class="col-lg-6"><img class="img-fluid rounded-3 mb-5" src="https://dummyimage.com/600x400/343a40/6c757d" alt="..." /></div>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-6">
                    <div class="text-center mb-5">
                        <p class="lead fw-normal text-muted">Optimiza tu negocio y potencia tus ventas con nuestro software de vanguardia. Descubre una nueva era en la gestión de artículos y lleva tu comercio al siguiente nivel. ¡Haz que cada venta cuente!</p>
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'Buy' %}">Comprar ahora</a>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock contenido %}